#topbar {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer {
    margin-top: 1.5rem;
    padding: 1.5rem 0;
    background-color: #e1e1e1;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss"