/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroLogo {
  max-height: 256px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  max-height: 100px;
}

.aboutRow {
  align-items: center;

  margin-top: var(--ifm-spacing-vertical);
}

.aboutImage {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}