<div class="container" id="topbar">
    <ul id="nav-list" class="nav justify-content-center align-items-center text-center">
        <li id="nav-brand" class="mr-auto">
            <a href="{{ .Site.Home.Permalink }}" class="d-inline-flex align-items-center text-decoration-none link-dark">
                {{ $img := (resources.Get "img/logo.png").Resize "128x128"}}
                {{ with $img }}
                    <img class="img-responsive" src="{{ .Permalink }}" alt="" >
                {{ end }}
                <h1 class="display-5">Etomica</h1>
            </a>
        </li>

        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
            <a class="nav-link h5" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</div>

