<div class="container" id="topbar">
    <ul class="nav justify-content-center align-items-center">
        {{ $img := (resources.Get "img/logo.png").Resize "128x128"}}
        {{ with $img }}
        <li>
            <img class="img-responsive" src="{{ .Permalink }}" alt="" >
        </li>
        {{ end }}

        <h1 class="display-5 mr-auto">Etomica</h2>

        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
            <a class="nav-link h5" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</div>

