body {padding: 1rem;}
#singleResultsDiv {display: none;}
#singleResultsDiv p {margin-bottom: 0}
.pubName { font-style: italic; }
.volume { font-weight: bold; }
.citation { font-size: 90%; display: none; }
