body {padding: 1rem;}
#singleResultsDiv, #singleResultsVirialDiv {display: none;}
#singleResultsDiv p, #singleResultsVirialDiv p {margin-bottom: 0}
.pubName { font-style: italic; }
.volume { font-weight: bold; }
.citation { font-size: 90%; display: none; }
#subtractCorCheckboxDiv { display: none; }

.btn-group-xs > .btn, .btn-xs {
  padding: .4rem .3rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
